	@font-face {
	font-family: Sharp;
	src: url('Px437_Sharp_PC3K.ttf'); 
	font-smooth: never;
}
	@font-face {
	font-family: IBM;
	src: url('IBM_EGA.TTF'); 
	font-smooth: never;
}

/*reusables*/
.maindiv {
  position: absolute;
  z-index: 9;
  background-color: #C0C0C0;
  border-style: outset;
  border-width: 2px;
  text-align: left;
  font-family: Sharp;
  font-size: 8;
}
.console {
  position: absolute;
  z-index: 9;
  background-color: #130019;
  border-style: outset;
  border-width: 2px;
  border-color: #827287;
  text-align: left;
  font-family: IBM;
  color: #C2BBCE;
} 
.headerdiv {
  cursor: move;
  z-index: 10;
  background-color: #00007F;
  color: #fff;
  font-family: Sharp;
  font-size: 8;
  padding:5px;
}

/*windows*/
#title {
   top: 111px; 
  left: 586px;
}
#aboutme {
   top: 194px;
  left: 305px;
}
#stuff {
   top: 648px;
  left: 511px;
}
#music {
   top: 450px;
  left: 595px;
}
#funstuff {
   top: 644px;
  left: 931px;
}
#forum {
   top: 698px;
  left: 756px;
}
#blog {
   top: 249px;
  left: 1093px;
}
#info {
   top: 570px;
  left: 1281px;
}
#links {
   top: 261px;
  left: 541px;
}
#embed {
   top: 731px;
  left: 1178px;
}
#noai {
   top: 847px;
  left: 861px;
}
#reswarn {
   top: 57px;
  left: 787px;
}
#plant {
   top: 156px;
  left: 1320px;
}